name: release
on:
  push:
    tags: '*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v17
      - uses: cachix/cachix-action@v10
        with:
          name: cachix-action
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
      - name: Tests
        run: nix develop -c go test -v ./... -test.short
      - name: Formatter
        run: nix develop -c go fmt ./...
      - name: Linter
        run: nix develop -c golangci-lint run || true
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
          check-latest: true
      - name: Build
        run: go build
      - name: Compress
        run: nix develop -c tar czvf conntest.tar.gz conntest
      - name: Create Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: ${{ contains(github.ref , '-') }}
      - name: Upload release binaries
        uses: alexellis/upload-assets@0.2.3
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          asset_paths: '["./conntest.tar.gz"]'
